<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccondori.retosermaluc.processdata.mappers.ProcessDataMapper" >
    <select id="cargarDatosExcel" resultType="Integer">
        exec SLUC_RegistroVariableFormula
        #{variables,typeHandler=com.ccondori.retosermaluc.commons.config.TypeVariable},
        #{formulas,typeHandler=com.ccondori.retosermaluc.commons.config.TypeFormula}
    </select>

    <select id="procesarFormulas" resultType="Integer">
        exec SLUC_ProcesarData
    </select>

</mapper>